body {
  background-color: wheat;
  padding: 50px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

h1 {
  background-color: cadetblue;
  color: antiquewhite;
  font-size: 40px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  background-color: antiquewhite;
  font-size: 30px;
  color: cadetblue;
  margin: 0;
}

li {
  padding: 20px;
}

a {
  color: cadetblue;
}

img {
  width: 200px;
  margin-top: 10px;
}
